{% extends "layout.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-4 pr-5 flex-grow-0">
      <h1>Hola!</h1>
      <p>
        Sóc en Bru Cullell Clotet i vaig néixer el 29 de maig del 2020!
      </p>
      <p>
        <div class="card colored-border mb-3">
          <div class="row no-gutters">
            <img src="{% static "ecografia5.jpg" %}" alt="Ecografia 4D setmana 27" class="mw-100" />
          </div>
        </div>
        <div class="card colored-border mb-3">
          <div class="row no-gutters">
            <img src="{% static "ecografia4.jpg" %}" alt="Ecografia 4D setmana 27" class="mw-100" />
          </div>
        </div>
        <div class="card colored-border mb-3">
          <div class="row no-gutters">
            <img src="{% static "ecografia2.png" %}" alt="Ecografia setmana 22" class="mw-100" />
          </div>
        </div>
      </p>
    </div>
    <div class="col-12 col-md-8 flex-grow-0">
      <h1>Què necessito?</h1>

      <p>
        Ja que molts demanàveu a la mama i el papa què necessito, el papa ha fet aquesta web perquè es pugui veure les
        coses que ja tinc i les que em falten.
      </p>
      <p>
        Si voleu regalar-me alguna cosa de la llista podeu pitjar el botó perquè els papes es puguin planificar millor. Si
        ho preferiu, els podeu enviar un correu a <a href="mailto:bebe@clotet.dev">bebe@clotet.dev</a> o de la manera
        que hi parleu habitualment (WhatsApp, Telegram, telèfon, etc.).
      </p>
      <p>
        Moltes gràcies!
      </p>

      {% for product in missing %}
        {% include "product_card.html" %}
        {% include "reserve_modal.html" %}
      {% endfor %}

      {% if reserved %}
        <div style="margin-top: 5em"></div>

        <h2>Ja tinc:</h2>

        {% for product in reserved %}
          {% include "product_card.html" %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
