{% load i18n %}

{# Load the tag library #}
{% load bootstrap4 %}

{% bootstrap_javascript jquery='full' %}

{% load static %}

<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="Hola! Sóc en Bru Cullell Clotet i he de néixer a finals de maig a Girona!"/>
  <meta name="robots" content="noindex, nofollow"/>

  <!-- FAVICONS -->
  <!-- generic -->
  <link rel="icon" href="{% static "favicon.png" %}" sizes="512x512"/>

  <!-- Android -->
  <link rel="shortcut icon" sizes="196x196" href="{% static "favicon.png" %}"/>

  <!-- iOS -->
  <link rel="apple-touch-icon" href="{% static "favicon.png" %}" sizes="512x512"/>

  <!-- Windows 8 IE 10-->
  <meta name="msapplication-TileColor" content="#FFFFFF"/>
  <meta name="msapplication-TileImage" content="{% static "favicon.png" %}"/>

  <!-- Windows 8.1 + IE11 and above -->
  <meta name="msapplication-config" content="{% static "browserconfig.xml" %}"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css"/>

  <title>Llista de naixement d'en Bru</title>

  <style>
    h1,h2,h3,h4,h5,h6 {
      color: #35a8a1;
    }
    h3 a, h3 a:hover {
      text-decoration: none;
      color: inherit;
    }
    .container {
      background: white;
      box-shadow: 0 0 0 5em white;
    }
    .card {
      overflow: hidden;
    }
    .colored-border {
      border-color: #35a8a1;
    }
  </style>
</head>
<body>
<div class="container d-flex flex-column" style="min-height: 100vh;">
  <div class="flex-grow-1 pt-5">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
  </div>
  {% include 'footer.html' %}
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
</body>
</html>
