{% with needed=product.needed reserved=product.reserve_set.count %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4 p-3">
        {% if product.image_url %}
          <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ product.image_url }}" class="card-img" alt="{{ product.name }}"/>
          </a>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"{% if reserved >= needed %} style="text-decoration: line-through"{% endif %}>
            <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">
              {{ product.name }}
            </a>
          </h3>
          <p class="card-text">{{ product.description | linebreaks }}</p>
          <p class="card-text">
            <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">{{ product.url }}</a>
          </p>
          {% if reserved < needed %}
            <div class="d-flex align-items-center">
              <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#reserveModal{{ product.id }}">
                T'ho regalarem!
              </button>
              {% if product.price %}
                <p class="card-text">{{ product.price }}€</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endwith %}
