{% load bootstrap4 %}

<div class="modal" id="reserveModal{{ product.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form method="post">
          {% csrf_token %}

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reservar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Si ens pots dir el teu nom ens apuntarem la reserva, així podrem saber què ens falta. No es mostrarà enlloc.
        </p>
        <p>Moltes gràcies!</p>

        {% bootstrap_field field=form.name show_label=False %}
        <input type="hidden" name="product" value="{{ product.id }}" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel·lar</button>
        <button type="submit" class="btn btn-primary">Reservar</button>
      </div>
    </div>
    </form>
  </div>
</div>
